@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
  /*  */
  font-weight: 300;
  line-height: 1.9;
}
/* highlight class */
.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

/* Navigation */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 9rem;
}
.nav__title {
  display: flex;
}
.nav img {
  margin-top: -18px;
  width: 85px;
  height: 85px;
}
.nav span {
  margin-top: 10px;
}
.nav__links {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav__link {
  color: #403e3ee9;
  padding: 20px;
  text-decoration: none;
}
.nav__link--btn {
  /* margin: -12px; */
  /* padding-bottom: 0.5rem 2rem; */
  width: 150px;
  height: 40px;
  background-color: #5ec576;
  border-radius: 20px;
  border-style: none;
  color: #000;
  font-size: 0.8rem;
  font-weight: 400;
}

/* hidden class */
.hidden {
  background-color: #bebaba;
  height: 580px;
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 30px;
  opacity: 0;
  margin: -350px auto;
  margin-top: -2700px;
}
.hidden h1 {
  width: 300px;
  margin: -20px 0 0px 25px;
  color: #444444;
}
.highlight {
  position: relative;
}
.nav__account__input--form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 20px;
  align-items: center;
}
.nav__account--input {
  display: flex;
  flex-direction: row;
  height: 27px;
}
label {
  width: 10px;
  text-align: center;
  color: #444444;
}
.hidden__close {
  margin: -30px 0 0 440px;
  font-size: 30px;
  color: #444444;
  cursor: pointer;
}
.nav__account__hidden--next {
  width: 160px;
  background-color: #5ec576;
  padding: 12px;
  margin: 2px 0 5px 160px;
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
}

/* header title */
.header__title {
  display: flex;
  justify-content: space-between;
  margin: 90px 5px 0 200px;
  width: 80%;
  height: 200px;
  align-items: center;
}
.headlines {
  width: 70%;
  color: #444444;
}
.header__title h1 {
  font-size: 60px;
  padding: 0px;
}
.header__title h4 {
  font-size: 30px;
  margin: -30px 0 0 0px;
}
.learnMore {
  padding: 0px;
  font-size: 20px;
  color: #5ec576;
  /* font-weight: 300; */
  background: none;
  text-decoration: none;
  border-bottom: 1px solid #39b385;
  cursor: pointer;
  transition: all 0.3s;
}
.header__title img {
  width: 30%;
}

/* section--1 */
.section--1 {
  margin: 0px 150px 150px 150px;
  width: 1000px;
}

.section--1 h2 {
  color: #39b385;
  margin: 400px 0 20px 0;
}
.section--1 h1 {
  color: #444444;
  font-size: 40px;
  text-align: start;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 150px;
  row-gap: 30px;
  /* width: 00px; */
}

.grid-container img {
  width: 500px;
  padding: 110px;
  margin-left: -100px;
}
.right__block {
  color: #444444;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: flex-start;
  width: 100%;
}
.right__block h4 {
  margin-top: 150px;
  margin-left: -15px;
  font-size: 25px;
  color: #474747;
}
.right__block p {
  margin-top: -30px;
  display: inline;
  color: #474747;
  font-size: medium;
}

/* .grid-container p {
  text-align: center;
} */
